@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgba(228, 225, 240, 0.986);
    font-family: "Poppinns", sans-serif;
    font-size: larger;
    border-style: dotted;
    border-color: azure;
}

.primeiro {

    display: flex;
    padding: 1%;
    border-color: blueviolet;
    border-style: inset;
    margin-left: 20px;
    margin-right: 20px;
}

.segundo {
    background-color: mediumpurple;
    margin: 20px;
    border-style: ridge;
    padding: 0px;
    border-radius: 10px;
}

h1 {

    font-size: 50px;
    font-family: "Poppins", sans-serif;
    margin: 20px;
    border-color: mediumpurple;
    border-style: outset;
    background-color: rgba(220, 215, 250, 0.986);
    border-width: 5pt;
}

.Minhafoto {
    width: 180px;
    border-radius: 40px;

}

div#a {
    background-color: mediumpurple;
    font-size: 18px;
}

div#b {
    font-size: 20px
}

div#c {
    background-color: mediumpurple;
    width: 80px;
    font-size: 17px;
}



div#e {
    background-color: mediumpurple;
    width: 115px;
    font-size: 18px;
}

img {

    margin-right: 5%;
    padding: 0%;
}

.li1 {
    align-items: center;
    padding: 0%;
    left: 80%;
}

.li2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(220, 215, 250, 0.986);
    border-radius: 30px;
    border-color: mediumpurple;
    border-style: ridge;
    }

.li2>li {
    float: left;
    margin: 0%;
    display: flex;
    gap: 5rem;
}


li a {
    display: block;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: mediumpurple;
    transition: 0.6s;
}

aside {
    display: flex;
    margin: 10px;
}

thead{
    background-color: rgba(187, 167, 219, 0.904);
}

ol {
    margin-bottom: 30px;
    border-color: rgb(160, 101, 226);
    border-style:ridge;
    padding-bottom: 25px;
    padding-left: 5%;
    margin-left: 20px;
    margin-right:20px ;
    }